/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <36>;
        rows = <1>;
        map = <
	RC(4,11) RC(3,10) RC(2,9)  RC(1,8) RC(0,7)      RC(0,7)  RC(1,8) RC(2,9)  RC(3,10) RC(4,11) 
	RC(3,11) RC(2,10) RC(1,9)  RC(0,8) RC(4,12)     RC(4,12) RC(0,8) RC(1,9)  RC(2,10) RC(3,11) 
	RC(1,11) RC(0,10) RC(2,12) RC(5,8) RC(4,7)      RC(4,7)  RC(5,8) RC(2,12) RC(0,10) RC(1,11)
	                RC(0,15) RC(0,16) RC(0,17)   RC(0,35) RC(0,34) RC(0,33)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";

        row-gpios
        = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row A from the schematic file
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row B from the schematic file
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row C from the schematic file
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row D from the schematic file
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
        ;
    };

};
