/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>

/ {

    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix_transform = &default_transform;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <36>;
        rows = <1>;
        map = <
	[P8,P15] [P7,P18] [P6,P19] [P5,P20] [P4,P21]      [P4,P21] [P5,P20] [P6,P19] [P7,P18] [P8,P15]
	[P7,P15] [P6,P18] [P5,P19] [P4,P20] [P8,P14]      [P8,P14] [P4,P20] [P5,P19] [P6,P18] [P7,P15]
	[P5,P15] [P4,P18] [P6,P14] [P9,P20] [P8,P21]      [P8,P21] [P9,P20] [P6,P14] [P4,P18] [P5,P15]
                          RC(0,15) RC(0,16) RC(0,17)   RC(0,35) RC(0,34) RC(0,33)
        >;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-direct";
        label = "KSCAN";
        input-gpios
        = <&pro_micro 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row A from the schematic file
            , <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row B from the schematic file
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row C from the schematic file
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row D from the schematic file
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
            , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)> // Row E from the schematic file
        ;
    };

};
